

<p-galleria
  *ngIf="idCity && city && city.photo && city.photo.length > 0"
  class="galleria centered-galleria"
  [value]="city.photo"
  [showIndicators]="false"
  [showThumbnails]="true"
  [containerStyle]="{ 'max-width': '640px' }"
  [numVisible]="3"
  [circular]="true"
  [showItemNavigators]="true"
>
  <ng-template pTemplate="item" let-photo>
    <div><div id="conteneur_slider">
        <button class="button is-danger" (click)="onDeletePicture(photo.id)">
          <span class="icon is-small">
            <i class="fas fa-trash-can"></i>
          </span>
        </button>
      </div>
      
      <img *ngIf="photo && photo.name" [src]="(imageUrl + photo.name)" style="width: 100%" loading="lazy" alt="{{city.name}}" />
     
    </div>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img *ngIf="item && item.name"
        [src]="(imageUrl + item.name)"
        class="image is-64x64 is-responsive"
        loading="lazy"
      />
    </div>
  </ng-template>
</p-galleria>
