#conteneur_slider{
 
position:absolute;
z-index:2;

}

.galleria {
    background-color: black;
    color: white;
}

.centered-galleria {
  display: flex;
  justify-content: center;
  align-items: center;
}
