.border-left {
    border-bottom: medium solid rgb(253, 253, 0);
    border-left: medium solid rgb(253, 253, 0);
    border-bottom-left-radius: 25px;
}

.border-right {
    border-bottom: medium solid rgb(253, 253, 0);
    border-right: medium solid rgb(253, 253, 0);
    border-bottom-right-radius: 25px;
}

h2 {
    color: rgb(8, 8, 88);
}


