<div class="columns is-vcentered is-mobile container is-fluid is-full ">
<div class="column"><p class="is-size-1-desktop is-size-4-touch has-text-centered has-text-weight-bold">ERREUR 404</p>
<p class="has-text-centered is-size-3-desktop is-size-6-touch has-text-left-touch">Oula, c'est une grosse erreur d'aiguillage, retournez à l'<a href="('/accueil')">accueil</a></p></div>
<div class="column">
    <figure class="image is-square">
    <img src="../../../assets/erreur404.jpg" class="has-ratio" height="100%" alt=""></figure>
</div>
</div>
