.city-view {
    background: rgba(8, 8, 88, 0.717);
    color: white;
    height: 100%;
    border-radius: 25px;
}

.back {
    background: rgb(253, 253, 0);
    color: black;
}

.way {
   background: rgb(8, 8, 88);
    color: white;
    border-radius: 25px; 
    height: 100%;
}

.ways {
    border: 2px solid rgb(253, 253, 0);
    border-radius: 25px; 
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mobile-margin {
        margin-left: 0px;
    }
}
