<button class="button is-responsive back m-4" [routerLink]="['/destinations']">
  Retour
</button>
<div class="columns is-multiline is-touch p-4 m-2">
  <div *ngIf="city && city.photo.length > 0" class="column is-full block">
    <p-carousel
          [value]="city.photo"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
        >
          <ng-template let-photo pTemplate="item">
            <div>
              <figure class="image is-3by2 is-touch is-desktop mt-2">
                <img *ngIf="photo && photo.name" class="has-ratio" [src]="imageUrl + photo.name" loading="lazy"/>
              </figure>
            </div>
          </ng-template>
        </p-carousel>
  </div>
  <div
    *ngIf="city"
    class="columns is-multiline column is-full block city-view ml-2 mt-2 mobile-margin rounded"
  >
    <div
      class="column is-full has-text-centered has-text-weight-bold is-size-4-desktop is-size-5-touch"
    >
      {{ city.name }}, {{ city.country.name }}
    </div>
    <div class="column is-full mt-4">
      <span>Type de séjour: </span><i class="{{ city.cat.icon_code }} ml-2"></i
      ><span class="mx-4">{{ city.cat.name }}</span>
    </div>
    <div class="column is-full">
      Intérêts: <span class="ml-4"> {{ city.description }} </span>
    </div>
  </div>
  <div
    *ngIf="city && itinerariesByCity && itinerariesByCity.length > 0"
    class="column columns is-multiline is-centered is-full ways has-text-centered has-text-weight-semibold is-size-5-desktop is-size-6-touch mt-2"
  >
  <div class="way column is-full">
    Itinéraires proposées vers {{ city.name }}
  </div></div>
  <div class="column is-centered columns is-multiline">
  <div
    *ngFor="let itinerary of itinerariesByCity"
    class="columns is-multiline column is-one-third block"
  >
    <app-itinerary-card
      [itineraries]="itinerary"
      class="column is-full block"
      [routerLink]="['/itinerary/', itinerary.id]"
    ></app-itinerary-card>
  </div></div>
</div>