<div class="columns is-multiline is-touch block">
<figure class="image is-2by1 column is-full is-fluid block">
    <img src="../../../assets/illustration.png" alt="">
</figure>
<section class="hero is-primary column is-full block">
  <div class="hero-body">
    <p class="title">
      Primary hero
    </p>
    <p class="subtitle">
      Primary subtitle
    </p>
  </div>
</section>
<section class="columns column is-multiline is-touch block m-4">
<div class="has-background-warning column is-half block"><app-card-example [myExample]="exampleOfWay"></app-card-example></div>
<div class="has-background-danger column is-half block p-4">BITCH</div>
<div class="has-background-link column is-quarter block p-4"><app-blob-button></app-blob-button></div>
<div class="has-background-info column is-quarter block p-4">BITCH</div>
<div class="has-background-success column is-quarter block p-4">BITCH</div></section>
</div>
