.welcome {
    color: white;
    background: #080858bb;
    border-radius: 25px;
    margin: 0;
    transition: 2s;
    max-height: 200px;
}

.frame {
    max-height: 220px;
}

h2 {
    color: #080859
}

.why {
    color: white;
}

.about {
    color: white;
    background: rgb(8, 8, 88);
    border-radius: 25px; 
}

.welcome:hover{
    transform : rotateZ(2deg);
}
.hero {
    border: 5px solid rgb(253, 253, 0);
    border-radius: 25px;
    padding: 0;
    
}

.introduction {
    border: 5px solid rgb(253, 253, 0);
    border-radius: 25px;
}

.home {
    background-image: url(../../../assets/plan-moyen-femme-voyageant-train.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 450px;
}

.page {
    margin-right: -1rem !important;
}

.itinerary {
    background-color: rgb(253, 253, 0);
    font-size: 1.5rem;
    font-weight: bold;
}

.divBtn {
    background-color: rgb(8, 8, 88);
    display: flex;
    justify-content: center;
}

.contributor {
    display: flex;
    justify-content: center;
}

.signupBtn {
    background-color: rgb(253, 253, 0);
    font-size: 1rem;
    font-weight: bold;
}

.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 769px) {
    .company {
        justify-content: flex-start;
    }

}
