@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
.info {
border: 5px solid rgb(253, 253, 0);
    border-radius: 25px;
    
}

.para {
   background-color: rgb(8, 8, 88);
color: white; 
border-radius: 25px;
}

.display {
    direction: flex;
    justify-content: center;
}