<div class="display">
<div class="is-touch info mt-4 mx-4 p-2">
    <div class="para">
<p class="is-size-4-desktop is-size-6-touch has-text-justified p-4">Retrouvez les informations essentielles pour voyager en train dans les différents pays des destinations proposées. Notez que les pays traversés doivent également être consultés pour connaitre les documents de voyage demandés en cas de contrôle.</p></div></div></div>
<app-country-list [sortedCountries]="sortedCountries" class="p-6 mx-6 " (userInput)="onSearch($event)"></app-country-list>
