<div class="card is-full block m-2">
  <div *ngIf="itineraries.destinationCity.photo.length > 0" class="card-image">
    <div class="is-responsive">
      <div id="conteneur_slider" class="is-responsive">
        <button
          class="button deleteWay"
          (click)="onDeleteItinerary(itineraries.id!)"
        >
          <span class="icon is-small">
            <i class="fas fa-trash-can"></i>
          </span>
        </button>
      </div>
      
      <div class="departure is-size-7">
        <p>
          Depuis :
          <span class="has-text-weight-semibold"
            >{{ itineraries.originCity.name }},
            {{ itineraries.originCity.country.name }}</span
          >
        </p>
      </div>
      <img
        [src]="itineraries.destinationCity.photo[0].picture"
        style="width: 100%"
        loading="lazy"
      />
    </div>
  </div>
  <div class="card-content">
    <!-- <button class="button is-danger" (click)="onDeleteItinerary(itineraries.id!)">
          <span class="icon is-small">
            <i class="fas fa-trash-can"></i>
          </span>
        </button> -->

    <div class="content">
      <p>
        Vers :
        <span class="title has-text-weight-bold is-size-4-desktop is-size-5-touch"
          >{{ itineraries.destinationCity.name }},
          {{ itineraries.destinationCity.country.name }}</span
        >
      </p>
      <div *ngIf="itineraries.cityStop.length > 0">
        Possibilité de faire escale à :
        <ul>
          <li *ngFor="let stop of itineraries.cityStop">
            {{ stop.name }},
            <span *ngIf="stop.country">{{ stop.country.name }}</span>
          </li>
        </ul>
      </div>
      <div>
      <p *ngFor="let company of itineraries.company" class="mt-2"><a href="{{company.link_url}}"><img src="{{ company.logo_url }}" width="100px" alt=""><span *ngIf="itineraries.company.indexOf(company) !== itineraries.company.length -1"></span></a></p></div>
      <div class="columns">
      <div *ngFor="let type of itineraries.type" class="type-icon column">
        <span class="icon is-large">
          <i class="{{type.icon_code}}"></i>
        </span>
      </div><div *ngIf="itineraries.destinationCity.photo.length === 0">
    <div class="is-until-widescreen is-responsive">
      <div class="is-responsive is-until-widescreen">
        <button
          class="button deleteWay"
          (click)="onDeleteItinerary(itineraries.id!)"
        >
          <span class="icon is-small">
            <i class="fas fa-trash-can"></i>
          </span>
        </button>
      </div>
    </div></div></div></div>
  

