<div class="card is-full block m-2">
  <div *ngIf="itinerary && itinerary.destinationCity.photo.length > 0" class="card-image">
    <div class="is-responsive">
      <div id="conteneur_slider" class="is-responsive">
        <button
          class="button deleteWay"
          (click)="onDeleteItinerary(itinerary.id!)"
        >
          <span class="icon is-small">
            <i class="fas fa-trash-can"></i>
          </span>
        </button>
      </div>
      
      <div class="departure is-size-7">
        <p>
          Depuis :
          <span class="has-text-weight-semibold"
            >{{ itinerary.originCity.name }},
            {{ itinerary.originCity.country.name }}</span
          >
        </p>
      </div>
      <img
        [src]="imageUrl + itinerary.destinationCity.photo[0].name"
        style="width: 100%"
        loading="lazy"
      />
    </div>
  </div>
  <div class="card-content">
    <!-- <button class="button is-danger" (click)="onDeleteItinerary(itinerary.id!)">
          <span class="icon is-small">
            <i class="fas fa-trash-can"></i>
          </span>
        </button> -->

    <div *ngIf="itinerary && itinerary.destinationCity" class="content">
      <p>
        Vers :
        <span class="title has-text-weight-bold is-size-4-desktop is-size-5-touch"
          >{{ itinerary.destinationCity.name }},
          {{ itinerary.destinationCity.country.name }}</span
        >
      </p>
      <div *ngIf="itinerary.cityStop.length > 0">
        Possibilité de faire escale à :
        <ul>
          <li *ngFor="let stop of itinerary.cityStop">
            {{ stop.name }},
            <span *ngIf="stop.country">{{ stop.country.name }}</span>
          </li>
        </ul>
      </div>
      <div  class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-between mt-4">
      <p *ngFor="let company of itinerary.company" class="mt-2"><a href="{{company.link_url}}"><img src="{{ company.logo_url }}" width="100px" alt="" class="image is-fluid"><span *ngIf="itinerary.company.indexOf(company) !== itinerary.company.length -1"></span></a></p></div>
      <div class="columns is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-between mt-4">
      <div *ngFor="let type of itinerary.type" class="type-icon column">
        <span class="icon is-large">
          <i class="{{type.icon_code}}"></i>
        </span>
      </div><div *ngIf="itinerary.destinationCity.photo.length === 0">
    <div class="is-until-widescreen is-responsive">
      <div class="is-responsive is-until-widescreen">
        <button
          class="button deleteWay"
          (click)="onDeleteItinerary(itinerary.id!)"
        >
          <span class="icon is-small">
            <i class="fas fa-trash-can"></i>
          </span>
        </button>
      </div>
    </div></div></div></div>
  

