<!-- <div *ngFor="let city of cityList">
      <div>
      <a href="">{{ city.name }}</a></div>
      <div (click)="getCityId(city.id.toString())">
        <app-blob-button [idCity]="idCityForPicture" [idCountry]="idCountryForPicture"></app-blob-button>
      </div>
    </div> -->

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
<p-toolbar styleClass="mb-4 gap-2 is-touch">
  <ng-template pTemplate="left">
    <div class="m-4">
      <app-add-city [countries]="countriesToDisplay"></app-add-city>
    </div>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="cityList"
  [rows]="10"
  [paginator]="true"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="city"
  dataKey="city.id"
  [rowHover]="true"
  currentPageReportTemplate="Montre de {first} à {last} sur {totalRecords} entrées"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between is-touch">
      <h2 class="m-2 has-text-weight-semibold is-size-5">Gestion des villes</h2>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
        class="input mt-2"
          pInputText
          type="text"
          [(ngModel)]="searchValue"
          (input)="handleInputChange($event)"
          placeholder="Recherche"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        pSortableColumn="name"
        field="name"
        header="name"
        style="min-width: 15rem"
      >
        Nom <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>Images</th>
      <th pColumn="addPicture" style="min-width: 10rem">Ajout photo</th>
      <th
        pSortableColumn="category"
        field="category"
        header="category"
        style="min-width: 10rem"
      >
        Catégorie <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-city>
    <tr>
      <td class="is-size-4 has-text-weight-bold">{{ city.name }}</td>
      <td *ngIf="city.photo.length > 0">
        <div >
          <button class="button accept" (click)="showModalGalleria(city)">
            Voir la galerie
          </button>
          <p-dialog
            *ngIf="city && city.photo"
            class="galleria"
            header="{{ city.name }}"
            [modal]="true"
            [(visible)]="city.isVisible"
            [breakpoints]="{ '960px': '75vw' }"
            [style]="{ 'width': '50vw', 'background-color': 'black' }"
            [draggable]="false"
            [resizable]="false"
            (onHide)="closeModalGalleria(city)"
            
          >
            <app-galleria [idCity]="idCityForPicture"></app-galleria>
          </p-dialog>
        </div>
      </td>

       <td *ngIf="city && !city.photo || city.photo.length === 0">
        Pas encore de photo
      </td>
      <td>
        <app-blob-button
          (click)="getCityId(city.id.toString())"
          [idCity]="idCityForPicture"
        ></app-blob-button>
      </td>
      <td>
        <div *ngIf="isEditing">
          <form
            [formGroup]="select"
            (ngSubmit)="onSubmit(city.id)"
            class="field"
          >
            <div class="control has-icons-left">
              <div  class="select">
                <select formControlName="category">
                  <option selected value="">
                  Nouvelle catégorie
                  </option>
                  <option
                    *ngFor="let category of categoryList"
                    value="{{ category.id }}"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
              <span class="icon is-medium is-left">
                <i class="fas fa-hotel"></i>
              </span>

              <button
                pButton
                pRipple
                icon="fa-solid fa-pencil"
                class="button accept is-right"
              ></button>
            </div>
          </form>
        </div>
        <div *ngIf="!isEditing"><button
            pButton
            pRipple
            icon="fa-solid fa-pencil"
            class="button accept mr-2"
            (click)="onEditing()"
          ></button>
          {{ city.cat.name }}
          
        </div>
      </td>

      <td>
        <button
          pButton
          pRipple
          icon="fa-solid fa-trash-can"
          class="button deleteBtn"
          (click)="OnDeleteCity(city.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Il y a au total {{ cityList ? cityList.length : 0 }} villes.
    </div>
  </ng-template>
</p-table>
