.company {
    border: 2px solid rgb(253, 253, 0);
    border-radius: 25px;
}

.company-head {
    background-color: rgb(8, 8, 88);
    color: white;
    border-radius: 25px;
}

.back {
    background: rgb(253, 253, 0);
    color: black;
}

.custom-card {
    background: rgba(8, 8, 88, 0.717);
    color: white;
}

span {
    cursor: pointer;
}