<div>
    <div *ngIf="country && actualCountry">
  <p-accordion class="m-2">
    <img src="https://flagsapi.com/{{actualCountry.initial}}/shiny/64.png"/>
    <p-accordionTab header="{{ actualCountry.name }}">
      <div *ngIf="actualCountry.photo && actualCountry.photo.length > 0" class="container is-max-desktop">
        <p-carousel
          [value]="actualCountry.photo"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
        >
          <ng-template let-photo pTemplate="item">
            <div>
              <figure class="image is-3by2 is-touch is-desktop">
                <img class="has-ratio" src="{{imageUrl}}{{ photo.name }}" />
              </figure>
            </div>
          </ng-template>
        </p-carousel>
      </div>

      <div *ngIf="actualCountry.currency" class="columns is-multiline is-centered block m-4">
        <div class="column is-half has-text-centered is-narrow">
          <span class="has-text-weight-bold">Monnaie : </span>
          <p >
            {{ actualCountry.currency.name }}, <a href="https://www.xe.com/fr/currencyconverter/" target="_blank">
            {{ actualCountry.currency.initial }}</a>
          </p>
        </div>
        <div class="column is-half has-text-centered is-narrow">
          <span class="has-text-weight-bold">Espace Schengen : </span>
          <p *ngIf="actualCountry.schengen" >OUI</p>
          <p *ngIf="!actualCountry.schengen" >NON</p>
        </div>
        <div class="column is-half has-text-centered is-narrow">
          <span class="has-text-weight-bold">Langue principale : </span>
          <p >{{ actualCountry.language.name }}</p>
        </div>
        <div class="column is-half has-text-centered is-narrow">
          <span class="has-text-weight-bold">Document de voyage : </span>
          <p >{{ actualCountry.docs.name }}</p>
        </div>
        <div *ngIf="actualCountry.observation !== ''" class="column is-full has-text-centered is-narrow">
          <span class="has-text-weight-bold">Observation : </span>
          <p >{{ actualCountry.observation }}</p>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
</div>