<div class="card is-touch is-half block m-2">
  <div *ngIf="itineraries.destinationCity.photo[0]" class="card-image">
    <figure class="image is-4by3">
      <img src="{{itineraries.destinationCity.photo[0].picture}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">


    <div class="content">
      <p>{{itineraries.originCity.name}}</p> 
      <p>{{itineraries.destinationCity.name}}</p>
      <p>{{itineraries.company[0].name}}</p>
      <p>{{itineraries.type[0].name}}</p>
    </div>
  </div>
</div>
